.blog-navigation {
  background-color: $blog-sub-nav-bg-color;
}

.blog-navigation-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;

  a {
    padding: 1.3rem 0;
  }

  ul {
    display: flex;
    gap: 4.8rem;
  }

  .material-icons-outlined {
    font-size: 2.915rem;

    &:hover {
      cursor: pointer;
      color: gold;
    }
  }

  @include mobile {
    ul {
      gap: 2.2rem;
    }

    .material-icons-outlined {
      display: none;
    }
  }
}

.blogs {
  padding: 9.6rem 0 8rem 0;

  @include mobile {
    padding: 4rem 0 6.4rem;
  }

  h1 {
    @include default-h1;
  }

  .blog-card {
    display: flex;
    gap: 2.4rem;
    margin-bottom: 6rem;
    flex-wrap: wrap;

    img {
      object-fit: cover;
    }

    > * {
      width: calc((100% - 2.4rem) / 2);
    }

    &:last-of-type {
      margin-bottom: 12.4rem;
    }

    @include pad {
      margin-bottom: 2.4rem;

      &:last-of-type {
        margin-bottom: 8rem;
      }
    }

    @include mobile {
      gap: 0.8rem;

      > * {
        width: 100%;
      }

      &:last-of-type {
        margin-bottom: 6.4rem;
      }
    }
  }

  .blog-card-description {
    display: flex;
    flex-direction: column;

    h6 {
      font-size: 3.2rem;
      color: $font-default-red;
    }

    .blog-card-info {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 1.6rem;

      p:nth-child(1) {
        font-size: 2rem;
      }

      p:nth-child(2) {
        font-size: 1.6rem;
      }
    }

    p:nth-child(3) {
      flex-grow: 1;
      font-size: 2rem;
    }

    div:last-child {
      text-transform: uppercase;
      font-size: 3.6rem;
      color: $font-default-red;
      text-align: end;
    }

    @include pad {
      h6 {
        font-size: 2.4rem;
      }

      .blog-card-info {
        margin-bottom: 0.4rem;
        p:nth-child(1) {
          font-size: 1.6rem;
        }
      }

      p:nth-child(3) {
        flex-grow: 1;
        font-size: 1.6rem;
      }

      div:last-child {
        font-size: 1.6rem;
      }
    }

    @include mobile {
      p:nth-child(3) {
        display: none;
      }

      div:last-child {
        display: none;
      }
    }
  }
}

// blog-post
.blog-post {
  .sub-heading {
    margin: 2.4rem 0 0.8rem;
  }
}

.blog-breadcrumbs {
  margin-bottom: 0.8rem;
  ul {
    display: flex;
    gap: 0.5rem;

    li {
      font-size: 1.6rem;
      &:last-of-type {
        color: $red;
      }
    }
  }
}

.blog-minor-tags {
  color: $red;
  display: flex;
  font-size: 2.4rem;
  gap: 1.5rem;
  font-weight: bold;
  margin-bottom: 0.8rem;
}

.blog-content {
  display: flex;
  gap: 2.4rem;

  div:nth-of-type(1) {
    flex-basis: 85.6rem;
  }

  div:nth-of-type(2) {
    flex-basis: 37.5rem;
  }
}

.blog-tags {
  color: $red;
  font-size: 2.4rem;
  font-weight: bold;

  h2 {
    text-transform: uppercase;
    font-weight: bold;
    display: flex;
    align-items: center;
  }

  .material-icons-outlined {
    margin-right: 0.8rem;
    font-size: 3.8rem;
  }

  .blog-tags-container {
    display: flex;
    flex-wrap: wrap;
    max-width: 26rem;
    column-gap: 2.4rem;
    row-gap: 0.8rem;
  }

  @include mobile {
    display: none;
  }
}

.blog-text {
  margin-bottom: 8rem;

  h1 {
    font-size: 4.8rem;
  }

  h2 {
    margin-bottom: 1.6rem;
    font-weight: 500;
  }

  img {
    margin-bottom: 0.8rem;
  }

  p {
    margin-bottom: 4rem;
    color: $post-font-gray;
  }

  @include pad {
    img {
      margin-bottom: 1.6rem;
    }

    p {
      margin-bottom: 2.4rem;
    }
  }

  @include mobile {
    margin-bottom: 4.8rem;
    h1 {
      font-size: 2.4rem;
    }
    h2 {
      font-size: 1.6rem;
    }
    img {
      margin-bottom: 0.8rem;
    }

    p {
      margin-bottom: 1.6rem;
    }
  }
}

.social-share {
  font-size: 1.6rem;
  font-weight: bold;
  display: flex;
  align-items: center;
  gap: 1.6rem;
  padding-bottom: 1.6rem;
  margin-bottom: 2.4rem;
  border-bottom: 1px solid black;

  p {
    margin-bottom: 0;
    color: black;
  }

  ul {
    display: flex;
    gap: 1.6rem;
  }

  img {
    height: 2.4rem;
    width: 2.4rem;
    margin: 0;
  }

  @include mobile {
    display: none;
  }
}

.blog-pagination {
  ul {
    display: flex;
    justify-content: space-between;
  }

  li a {
    display: flex;
    align-items: center;
    gap: 0.8rem;

    .material-icons-outlined {
      font-size: 2rem;
    }

    &.next-post {
      flex-direction: row-reverse;
    }
  }
  @include mobile {
    display: none;
  }
}
