@mixin default-h2 {
  text-align: center;
  color: $font-default-red;
  font-weight: bold;
  font-size: 4.8rem;
  margin-bottom: 4.8rem;

  @media (max-width: 48em) {
    font-size: 2.4rem;
    margin-bottom: 2.4rem;
  }
}

@mixin section-padding {
  padding: 8rem 0;

  @media (max-width: 48em) {
    padding: 4rem 0;
  }
}

@mixin default-h1 {
  font-size: 4.8rem;
  font-weight: bold;
  padding: 0.6rem 0 0.6rem 1.6rem;
  margin-bottom: 3.3rem;
  border-left: 8px solid $red;

  @include mobile {
    font-size: 2.4rem;
    padding: 0rem 0 0rem 1.6rem;
  }
}

@mixin default-pagination {
  display: flex;
  justify-content: center;

  li {
    padding: 1.2rem 1.6rem;
    border: 1px solid #555555;
    cursor: pointer;

    a:hover {
      color: inherit;
    }

    &.active {
      color: white;
      background-color: black;
    }

    &:not(.active):hover {
      background-color: #666;
      color: white;
    }

    &:not(:first-child) {
      border-left: none;
    }

    &:last-child {
      background-color: #f2f2f2;
    }
  }

  @include mobile {
    li {
      padding: 1.2rem 1.3rem;
    }
  }
}

@mixin pad {
  @media (max-width: $pad-media-query) {
    @content;
  }
}

@mixin mobile {
  @media (max-width: $mobile-media-query) {
    @content;
  }
}
