$black: #000000;
$light-red: #fbf2f2;
$red: #aa0601;
$font-default-red: #650300;
$card-border-color: #dee2e6;
$hover-red: #ce0700;
$gray: #dcdcdc;
$blog-sub-nav-bg-color: #650300;
$post-font-gray: #555555;

// pad, mobile media query
$pad-media-query: 62em;
$mobile-media-query: 48em;
