// Typography
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@300;400;500;700&family=Roboto:ital,wght@0,300;0,400;0,700;1,400;1,700&display=swap');

$black: #000000;
$light-red: #fbf2f2;
$red: #aa0601;
$font-default-red: #650300;
$card-border-color: #dee2e6;
$hover-red: #ce0700;

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
}

a {
  text-decoration: none;
  color: inherit;
  display: inline-block;

  &:hover {
    color: gold;
  }
}

ul,
ol {
  list-style: none;
}

img {
  vertical-align: middle;
  max-width: 100%;
  height: auto;
}

button {
  border: none;
  background: none;
  color: inherit;
  cursor: pointer;
}

html {
  font-size: 62.5%;
}

body {
  font-family: 'Noto Sans TC', sans-serif;
  font-family: 'Roboto', sans-serif;
  font-size: 1.6rem;
  line-height: 1.5;
}

// utilities
.container {
  max-width: 129.6rem;
  margin: 0 auto;
  padding: 0 1.2rem;
}

@mixin default-h2 {
  text-align: center;
  color: $font-default-red;
  font-weight: bold;
  font-size: 4.8rem;
  margin-bottom: 4.8rem;

  @media (max-width: 48em) {
    font-size: 2.4rem;
    margin-bottom: 2.4rem;
  }
}

// main SCSS
.header {
  height: 8rem;
  color: white;
  background-color: $red;
  font-size: 2rem;

  .header-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
  }

  .logo {
    width: 8rem;
  }

  .navbar ul {
    display: flex;
    gap: 6.4rem;
  }

  .mobile-navbar {
    display: none;
  }
}

.hero {
  background-image: url('../images/home-header.png');
  height: 78.7rem;
  background-position: center;
  background-size: cover;
  color: $font-default-red;

  .hero-section {
    text-align: right;
    height: 100%;
    align-items: center;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;

    h3 {
      font-size: 3.6rem;
    }

    h1 {
      font-size: 6.4rem;
      font-weight: bold;
    }
    button {
      color: white;
      background-color: $red;
      padding: 0.6rem 1.2rem;
      font-size: 2rem;
      &:hover {
        background-color: $hover-red;
      }
    }
  }
}

.features {
  background-color: $light-red;
  text-align: center;
  padding: 8rem 0;

  h2 {
    @include default-h2;
    margin-bottom: 3.2rem;
  }

  .feature-list {
    display: flex;
    flex-wrap: wrap;
    gap: 2.4rem;

    .feature-list-item {
      width: calc((100% - 7.2rem) / 4);
      img {
        width: 8.4rem;
        height: 8.4rem;
        margin-bottom: 2.4rem;
      }

      h4 {
        color: $font-default-red;
        font-size: 2.4rem;
        font-weight: bold;
        margin-bottom: 0.8rem;
      }

      p {
        text-align: left;
      }
    }
  }
}

.classic {
  margin: 8rem 0;

  h2 {
    @include default-h2;
  }

  .classic-list {
    display: flex;
    flex-wrap: wrap;
    gap: 2.4rem;

    .classic-list-item {
      width: calc((100% - 4.8rem) / 3);
      img {
        margin-bottom: 0.8rem;
      }

      h5 {
        text-align: center;
        font-size: 4.8rem;
        font-style: italic;
        font-weight: bold;
        color: $red;
        text-transform: uppercase;
      }
    }
  }
}

.co-branding {
  background-image: url(../images/co-branding-bg.jpg);
  background-position: center;
  background-size: cover;
  text-align: center;
  padding: 8rem 0;

  h2 {
    @include default-h2;
    color: white;
  }

  .co-branding-list {
    display: flex;
    flex-wrap: wrap;

    .co-branding-list-item {
      width: 50%;

      h5 {
        font-weight: bold;
        font-size: 4.8rem;
        color: $red;
        background-color: white;
        font-style: italic;
        text-transform: uppercase;
      }
    }
  }
}

.testimonial {
  padding: 8rem 0;

  h2 {
    @include default-h2;
  }

  .testimonial-list {
    display: flex;
    flex-wrap: wrap;
    gap: 2.4rem;

    .testimonial-list-item {
      width: calc((100% - 7.2rem) / 4);
      border: 1px solid $card-border-color;
      box-shadow: 0px 2px 6px #00000029;
      border-radius: 0.4rem;

      img {
        object-fit: cover;
      }

      .testimonial-info {
        padding: 1.6rem;
        height: 20.5rem;
        display: flex;
        flex-direction: column;

        .testimonial-name {
          font-weight: 500;
        }

        .testimonial-text {
          flex-grow: 1;
        }

        .testimonial-date {
          color: #707070;
        }
      }
    }
  }
}

.contact {
  background-color: $light-red;
  padding: 8rem 0;

  input,
  textarea {
    background-color: transparent;
    accent-color: transparent;
  }

  .contact-section {
    max-width: 63.6rem;

    h2 {
      @include default-h2;
    }

    .contact-text {
      font-size: 2rem;
      margin-bottom: 2.4rem;
    }

    .contact-form {
      .form-input {
        label {
          display: block;
          margin-bottom: 0.8rem;
        }
        input,
        textarea {
          font-size: 1.6rem;
          border: 1px solid black;
          padding: 0.6rem 1.2rem;
          width: 100%;
          margin-bottom: 1.6rem;
        }

        .review-input {
          height: 13.6rem;
        }
      }

      .form-agreement {
        display: flex;
        align-items: center;
        margin-bottom: 4.8rem;

        input {
          width: 1.6rem;
          height: 1.6rem;
          margin-right: 0.4rem;
        }
      }

      button {
        color: white;
        text-align: center;
        padding: 1.6rem 17.6rem;
        font-size: 1.6rem;
        background-color: $red;
        display: block;
        margin: 0 auto;
      }
    }
  }
}

.footer {
  background-color: $red;
  padding: 6rem 0 3.2rem;
  color: white;
  .footer-navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2.4rem;

    nav ul {
      display: flex;
      gap: 4.8rem;
    }

    .social-links ul {
      display: flex;
      gap: 3.2rem;

      img {
        width: 4.8rem;
        height: 4.8rem;
      }
    }
  }

  address {
    font-size: 3.6rem;
    font-style: normal;

    padding-bottom: 3.2rem;
    border-bottom: 1px solid white;
    margin-bottom: 3.2rem;
    font-family: 'Noto Sans TC', sans-serif;

    ul li {
      display: flex;
      align-items: center;
      gap: 2.2rem;
    }

    .material-icons-outlined {
      font-size: 3.6rem;
    }

    a:hover {
      color: inherit;
    }
  }

  .copyright {
    display: flex;
    justify-content: space-between;

    ul {
      display: flex;
      gap: 4.8rem;
    }
  }
}

// tablet: 992px
@media (max-width: 62em) {
  .container {
    padding: 0 3.6rem;
  }

  .hero {
    height: 39.6rem;
  }
  .features {
    .feature-list {
      .feature-list-item {
        width: calc((100% - 2.4rem) / 2);
      }
    }
  }

  .classic {
    .classic-list {
      text-align: center;
      gap: 2.4rem;
      .classic-list-item {
        width: 100%;

        img {
          width: 33.6rem;
          height: 33.6rem;
        }
      }
    }
  }

  .co-branding {
    .co-branding-list {
      gap: 2.4rem;
      .co-branding-list-item {
        width: 100%;
      }
    }
  }

  .testimonial {
    .testimonial-list {
      .testimonial-list-item {
        width: calc((100% - 2.4rem) / 2);
      }
    }
  }

  .contact-section.container {
    padding: 0;

    .contact-text {
      font-size: 1.6rem;
    }

    .contact-form {
      button {
        padding: 1.6rem 13.6rem;
      }
    }
  }

  .footer {
    .footer-navigation {
      .social-links ul {
        gap: 1.6rem;

        img {
          width: 4rem;
          height: 4rem;
        }
      }
    }
  }
}

// phone: 768px
@media (max-width: 48em) {
  .header {
    .navbar {
      display: none;
    }

    .mobile-navbar {
      display: block;

      .material-icons-outlined {
        cursor: pointer;
        font-size: 4rem;
      }

      .hamburger-menu {
        transform: translateY(4px); // LOL
      }

      .close-menu {
        display: none;
      }

      ul {
        display: none;
        transform: translateY(-11rem);
        transition: all 500ms ease-in-out;
      }

      &.active {
        .hamburger-menu {
          display: none;
        }

        .close-menu {
          display: block;
        }

        ul {
          transform: translateY(0rem);
          position: absolute;
          display: flex;
          flex-wrap: wrap;
          background-color: $red;
          top: 8rem;
          width: 100%;
          left: 0;
          z-index: 10;

          li {
            text-align: center;
            width: 50%;
            outline: 1px solid white;

            a {
              width: 100%;
              padding: 1.2rem 0;
            }
          }
        }
      }
    }
  }

  .features {
    .feature-list {
      .feature-list-item {
        width: 100%;
      }
    }
  }
}
